<section>
  <h3> Pipes Component </h3>


  <input type="text" [(ngModel)]="randomText" placeholder="Blah blah blah">
  <p> {{ randomText | uppercase }} </p>
  <p> {{ randomText | lowercase }} </p>
  <p> {{ randomText | capitalize }} </p>
  <p> {{ randomText | emojify }} </p>

  <p> Right now it's {{ rightNow | date: 'h:mm a on EEEE, MMMM d, y' | uppercase }}. </p>
  <button (click)="addOneHour()"> Add an hour </button>

  <p> {{ currentBitCoinInvestment | currency: 'EUR':true }} </p>
</section>
